* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

main div {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}

main div input,
main div #result {
    width: 275px;
    height: 30px;
    background-color: chartreuse;
    color: white;
    border: 1px solid white;
    outline: none;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    margin: 10px;
}

main div #result {
    width: 570px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

main div input::placeholder {
    color: white;
    font-weight: bold;
}

main div button {
    width: 130px;
    height: 40px;
    color: black;
    background-color: white;
    border: 1px solid white;
    outline: none;
    font-size: 24px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}